<!DOCTYPE html>
<html>
<head>
	<title>SET09103</title>
	<!-- Add Local SVG image when hosting. -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet"> 
</head>
<body>
<div class="container  main_header">
	<h3 align="left"><a href="{{url_for('index')}}">Advanced Web Technologies SET09103</a></h3>
	<p>A URL shortening web-app</p>
</div>

<div class="u-full-width shorty">
	<div class="container">
	
	<!-- Search URL block -->

	<div class="search_url_block">

		<form method="post" action="/search" name="search_tag_block">
			<input type="text" name="search_url" placeholder="Search tags ">
			<button type="submit" class="button-primary search_url_btn" value="Search">Search</button>
		
		</form>
	</div>
	
	<!-- end block -->

	<!-- URL Input block -->
	<form method="post" action="" name="generate_block">
				<div class="row">
				<input type="text"  name="url_input" placeholder="Enter URL" >
				<input type="text"  name="url_custom" placeholder="Enter Custom Suffix" >
				<input type="text" name="url_tag" placeholder="Tag URL" >
				<button class="button-primary generate">Produce/Create</button>
				</div>
	</form>
	<!-- end block -->

	<!-- Error Display block -->

	{% if error != '' %}
				<p class="error_disp">
					{{error}}
				</p>
				{% endif %}
	{% if shorty_url %}

	<!-- end block-->


	<!-- URL Generator Display block -->

	<div class="gen_block">
	
	<p class="gen_url">
		Shorty URL is <b><a id="short-url" href="{{shorty_url}}">{{shorty_url}}</a></b>
	</p>
	<button class="button-primary copy-btn" data-clipboard-action="copy" data-clipboard-target="#short-url">Copy</button>		
	</div>
	{% endif %}


	<!-- end block -->

	<!-- URL List Block -->
	{% if not error %}
	{% if not shorty_url %}
	<!-- Add Empty list case -> 'Wow . Such Empty!' -->
	<div style="overflow-x:auto;">
	<div class="table_list u-full-width">
	<table>
		<thead>
			<tr>
				<th>Original URL</th>
				<th>Short URL</th>
				<th>Clicks</th>
				<th>Info</th>
			</tr>
		</thead>

		<tbody>
		{% for url in table %}
			<tr>
				<td style="padding-left: 5px;">{{url[1]}}</td>
				<td><a href="{{host+url[2]}}">{{ host+url[2]}}</a></td>
				<td style="text-align: center;">{{url[4]}}</td>
				<td id="info"><a href=" {{url_for('analytics' ,short_url=url[2])}} "><i class="material-icons" >info_outline</i></a></td>
			</tr>
			
		{% endfor %}		
		</tbody>
	</table>
	</div>
	</div>
	{% endif %}
	{% endif %}
</div>
</div>
<script type="text/javascript">
	var clipboard = new Clipboard('.copy-btn');
</script>
</html>