<!DOCTYPE html>
<html>
<head>
	<title>SET09103</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet"> 
</head>
<body>
<div class="container  main_header">
	<h3 align="left"><a href="{{url_for('index')}}">Advanced Web Technologies SET09103</a></h3>
	<p>A URL shortening web-app.</p>
</div>
	<!-- Search results  --> 
<div class=" container search_header">
	<h4>Search Results for : <b> {{ search_tag }} <b></h4>

<div style="overflow-x:auto;">
<div class="table_list u-full-width">
<table>
	<thead>
		<tr>
			<th>Original URL</th>
			<th>Short URL</th>
			<th>Clicks</th>
			<th>Info</th>

		</tr>
	</thead>

	<tbody>
	{% for url in table %}
		<tr>
			<td style="padding-left: 5px;">{{url[1]}}</td>
			<td><a href="{{ host+url[2]}}">{{host+url[2]}}</a></td>
			<td style="text-align: center;">{{url[4]}}</td>
			<td id="info"><a href=" {{url_for('analytics' ,short_url=url[2])}} "><i class="material-icons" >info_outline</i></a></td>
		</tr>
	{% endfor %}		
	</tbody>
</table>
</div>
</div>
</div>	
</body>
</html>